<style>
@import url('https://fonts.googleapis.com/css?family=Raleway');
</style>

body {
 height: 960px;
  width: 1280px;
  border-radius: 5px;
  border: 1px solid #9EAEB3;
   margin: auto;
  padding-bottom: 1px;
}





/*========================LOGO===============================*/
.header img {
    display: block;
    margin: 20px auto;

}

.header h1 {
  position: relative;
  top: -0px;
  left: 50px;
  color: #d2b48c;
  margin-top: -80px;
  text-align: center;
  
}


#doughcakes {
  font-size: 124px;
  color:#9C661F;
  padding: 0px;
  margin-top: 0px;

}


/*========================MAIN MENU===============================*/
#main-menu .nav-bar { 
        list-style: none; 
        margin-top: 10px;
        margin-left: 80px;
        text-align: center;
        text-decoration: none;
        position: relative;
}
        
#main-menu .nav-bar li { 
    display: inline; 
position: relative;
    list-style: none;
    margin-left: auto;
    padding-top: -10px
  

    
}

#front-page {
    position:fixed; top:2%; right:2%; }



#main-menu .nav-bar li a {
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ccc;
	color: #ff80aa;
	font-size: 25px;
	position: auto;

	   margin-right: 100px;
      padding: 1px; 
}



/*=====================Home INDEX==============*/

.box { 
  padding: 10px; 


}


h2 {
  text-align: center;
  font-family: Cursive;
  color: #d2b48c;
  text-shadow: 1px 1px;
  font-size: 36px;
  margin-top: -50px;

}

/*=====================FOOTER==============*/

p {

    width: 960px;
    margin: 30px auto;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.boxed {
  border: 1px double white ;
  color: grey;
  width: 50%;
   margin-left:auto;
  margin-right:auto;
  text-align:justify;
  position: relative;
}


/*====================CUPCAKE PAGE==============*/


#background {
    background-image: url("../images/cuppy.png");
    background-size: cover;
    background-position: right;
}



.header2 img {
  float: right;
  width: 100px;
  height: 100px;
  background: #555;
    
}



.rainbow {
  float: left;
   z-index: 1;
   position: relative;
   margin: 100px;
   padding: 0px;
   margin-top: 100px;
   border: solid white;
    margin-left: 1px;
}

.vanilla {
   float: left;
   z-index: 1;
   position: relative;
   margin-left: 0px;
   padding: 0px;
   margin-top: 100px;
   border: solid white;
}

.bluecup {
   float: left;
   z-index: 1;
   position: relative;
   margin-left: 0px;
   padding: 0px;
   margin-top: 100px;
   border: solid white;
}

.strawcup {
   float: left;
   z-index: 1;
   position: relative;
   margin-left: 0px;
   padding: 0px;
   margin-top: 100px;
   border: solid white;
}

.raspcup {
   float: left;
   z-index: 1;
   position: relative;
   margin-left: 0px;
   padding: 0px;
   margin-top: 100px;
   border: solid white;
}

.pinkcup {
   float: left;
   z-index: 1;
   position: relative;
   margin-left: 0px;
   padding: 0px;
   margin-top: 100px;
   border: solid white;

}


p {
    color: pink;
    text-align: center;
}


h3 {
 font-size: 20px;
 text-align: center;
 color:grey;
 line-height: 20%;
 font-family: Georgia;
 
}

#footer {
  clear: both;			
}





/*====================DOUGHNUT PAGE==============*/

.header3 img {
  float: right;
  width: 100px;
  height: 100px;
  background: #555;
}


.h3 p {
    color:grey;
}



#bluedough {
    margin-left: 380px;

}

#bluepic {
    margin-left: 300px;
    text-align: center;
    width: 300px;
    margin-top: -25px;
    color: grey;

}

#orangedough {
    margin-left: 900px;
    width: 700px;
    line-height: -300px;

}


#orangepic {
    margin-left: 800px;
    text-align: center;
    width: 300px;
    margin-top: -190px;
color: grey;
}

#pinkdough {
    margin-left: 380px;
    width: 500px;
}

#pinkpic {
    margin-left: 300px;
    text-align: center;
    width: 300px;
    margin-top: 20px;
    color: grey;
}


#stardough {
       margin-left: 850px;
    width: 500px;
    
}


#starpic {
    margin-left: 800px;
    text-align: center;
    width: 300px;
    margin-top: -190px;
    color: grey;
}



#chocdough {
    margin-left: 380px;
    width: 500px;
}

#chocpic {
    margin-left: 300px;
    text-align: center;
    width: 300px;
    margin-top: 10px;
    color: grey;
    
}

#stripedough {
        margin-left: 800px;
          width: 500px;
        
}


/*===============PIC AND CAPTION==============*/
#stripepic {
    margin-left: 800px;
    text-align: center;
    width: 300px;
    margin-top: -190px;
    color: grey;
    
  
}

